# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Distribution / packaging
*.egg-info/
node_modules/
src/interface/web_client/dist/
build/
dist/

# Logs
*.log
# Environment configuration files
.env
*.env

# Key files
*.key

