:root {
  --color-bg: #111;
  --color-bg-alt: #181818;
  --color-text: #eee;
  --color-border: #333;
  --size-xs: 2px;
  --size-s: 4px;
  --size-m: 10px;
  --size-l: 12px;
}

[data-theme="light"] {
  --color-bg: #fff;
  --color-bg-alt: #fafafa;
  --color-text: #000;
  --color-border: #ccc;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --color-bg: #fff;
    --color-bg-alt: #fafafa;
    --color-text: #000;
    --color-border: #ccc;
  }
}
